/* mulish font here apply this project */
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');
/* common styles here start */

*{border:1px solid red;}
body{border: 2px dashed blue;}
*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-header{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.paragraph{
    color: #5A5A5D;
    font-size: 1rem;
    padding: 1rem 0;
}
/* common styles here end *

/* header section styles here start */
#header{
    width: 80%;
    margin: 2rem auto;
}
.header-banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo-tour{
    display: flex;
    font-weight: 2rem;
    font-weight: 800;
    color: #131318;
}
.logo-tour img{
    padding-right: 1rem;
}
.logo-tour span{
    color: #FF5400;

}
.navbar > ul{
    display: flex;
}
.navbar li{
    list-style: none;
    margin-right: 1rem;
    font-size: 18px;
    padding: 1rem;
}
.navbar li a{
    text-decoration: none;
    color: #424247;
}
.navbar li .home-style{
    font-weight: 700;
    color: #FF5400;
}

/* banner styles here start */

.banner-container{
    border-radius: 16px;
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-blend-mode: overlay;
    width: 100%;
    height: 500px;
    object-fit: cover;
    color: #FFF;
    margin: 2rem 0;
    position: relative;
    text-align: center;
}
.banner-text{
    position: absolute;
    top: 8rem;
    left: 12rem;
}

.banner-text h1{
    font-size: 64px;
    font-weight: 800;
    
}
.button-container{
    display: inline-flex;
    padding: 15px;
    margin-top: 1rem;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.button-container button{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    border: none;
}
.button-container #when{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    padding: 0.8rem 2rem;
    border-radius: 8px;
    border: none;
}

.button-container .find-now{
    background-color: #FF5400;
    color: white;
    font-weight: 700;
}

/* header section styles here end */


/* our popular style start */

.our-popular-container{
    display: flex;
    width: 80%;
    margin: 4rem auto;
    gap: 2rem;
}
.our-popular-text{
    width: 48%;
}
.list{
    padding: 1rem;
}
.red-button{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding: 1rem;
    border: none;
    margin: 1rem 0;
}
.our-popular-image{
    width: 48%;
}
.our-popular-image img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 1rem;
}


/* our popular style end */

/* choose your estination style here start */

.container{
    width: 80%;
    margin: 3rem auto;
}
.header-container{
    text-align: center;
    padding: 1rem;
}

.image-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
}
.image-container img{
    width: 100%;
    height: 100%;
  
}
.name-style{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.grid-item-1{
    grid-column: 1/span 6;
    grid-row: 1/span 1;
    position: relative;
}
.name-one{
    position: absolute;
    right: 12rem ;
    top: 7rem;
}
.grid-item-2{
    grid-column: 7/span 6;
    grid-row: 1/span 1;
    position: relative;
}
.name-two{
    position: absolute;
    right: 12rem ;
    top: 7rem;
}
.grid-item-3{
    grid-column: 1/span 4;
    grid-row: 2/span 1;
    position: relative;
}
.name-three{
    position: absolute;
    right: 7rem ;
    top: 7rem;
}
.grid-item-4{
    grid-column: 5/span 5;
    grid-row: 2/span 1;
    position: relative;
}
.name-four{
    position: absolute;
    right: 7rem ;
    top: 7rem;
}
.grid-item-5{
    grid-column: 10/span 3;
    grid-row: 2/span 1;
    position: relative;
}
.name-five{
    position: absolute;
    right: 7rem ;
    top: 7rem;
}

 .grid-item-6{
    grid-column: 1/span 5;
    grid-row: 3/span 1;
    position: relative;
}
.name-six{
    position: absolute;
    right: 8rem ;
    top: 7rem;
}
.grid-item-7{
    grid-column: 6/span 7;
    grid-row: 3/span 1;
    position: relative;
}
.name-seven{
    position: absolute;
    right: 14rem ;
    top: 7rem;
}  
 
/* choose your estination style here end*/

/* why choose us style here start */

.why-choose-container{
    width: 80%;
    margin: 2rem auto;
}
.why-choose-title{
    color: #131318;
    text-align: center;
    font-size:2.6rem;
    font-weight: 800;
}
.card-container{
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card-design{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    padding: 2rem;
    width: 48%;
    height: 284px;
}
.card-design h1{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.one{
    background: rgba(251, 181, 99, 0.05);

}
.two{
    background: rgba(41, 206, 246, 0.05);

}
.three{
    background: rgba(233, 68, 68, 0.05);
}

/* why choose us style here end */

/* deals discount style here start */

.deals-container{
    width: 80%;
    text-align: center;
    margin: 2rem auto;
}
.all-image img{
    width: 100%;
    min-height: 400px;
    object-fit: cover;
}
.deals-image-container{
    display: flex;
    flex-direction: column;
  
}
.deals-img-1{
    margin: 1rem 0;
    position: relative;
}
.tour-card-1{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    width: 500px;
    height: 350px;
    text-align: left;
    padding: 3rem;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: #ffffffcc;
    backdrop-filter: blur(2.5px);
}
.card-head{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.price{
    color: #FF5400;;
    font-size: 20px;
    font-weight: 800;
}
.day{
    display: flex;
    gap: 1.5rem;
}
.night{
    display: flex;
}
.deals-img-2{
    margin: 1rem 0;
    position: relative;
}
.tour-card-2{
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    width: 500px;
    height: 350px;
    text-align: left;
    padding: 3rem;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: #ffffffcc;
    backdrop-filter: blur(2.5px);
}

.deals-img-3{
    margin: 1rem 0;
    position: relative;
}

.tour-card-3{
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    width: 500px;
    height: 350px;
    text-align: left;
    padding: 3rem;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: #ffffffcc;
    backdrop-filter: blur(2.5px);
}

/* deals discount style here end*/



/* newsletter styles start */

.newsletter-container{
    display: flex;
    width: 80%;
    margin: 4rem auto;
    gap: 2rem;
}
.newsletter-text{
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 2rem;
    width: 48%;
}

input[type=text] {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    padding: 1rem 5rem;
    margin: 1rem 0;
    border: none;
}
input[type=email] {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    padding: 1rem 5rem;
    margin: 1rem 0;
    border: none;
}
input[type=button] {
    border-radius: 8px;
    background-color: #FF5400;
    color: white;
    font-weight: 800;
    font-size: 20px;
    padding: 1rem 7.5rem;
    cursor: pointer;
    margin: 1rem 0;
    border: none;
}
input[type=button]:hover {
    background-color: #cf8763;
}
.newsletter-image img{
   object-fit: cover;
   width: 100%;
   height: 100%;
   display: block;
   border-radius: 1rem;
}
.newsletter-image{
    position: relative;
}

.travel{
    background-color: #FF5400;
    color: white;
    text-align: center;
    transform: rotate(-40.62deg);
    position: absolute;
    right: 3px;
    bottom: 78px;
    padding: 2rem;
    border-radius: 16px;
}
.travel p{
    font-size: 24px;
}
.travel h3{
    font-size: 2rem;
    font-weight: 800;
}

/* newsletter styles end */



/* footer section styles start */
#footer-container{
    background: rgba(19, 19, 24, 0.05);
   
   
}
.footer-header{
    text-align: center;
    justify-content: center;
    padding: 5rem;
}
.footer-logo{
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;
}
.footer-header h1{
    color:#131318;
    font-size: 2rem;
    font-weight: 800;
}
.footer-header span{
    color: #FF5400;
}
.footer-image{
    padding: 1rem;
}
hr{
    background: rgba(19, 19, 24, 0.10);
    width: 50%;
    height: 1px;
    margin: 0 auto;
}


/* footer section styles end */